/* CARD */

.card {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  padding: $base-margin*2.5;
  box-sizing: border-box;
  
  // Card Framing styles
  &--white {
    background-color: $white;
  }

  &--grey {
    background-color: $alabaster;
  }

  &--mint {
    background-color: $iceberg;
    color: $san_juan;

    i {
      color: $puerto_rico;
    }
  }

  &--light-blue {
    background-color: $hawkes_blue;
    color: $san_juan;
  }

  &--green {
    background-color: $puerto_rico;
  }

  &--dark-green {
    background-color: $elm;
  }

  &--blue {
    background-color: $san_juan;
  }

  &--border-blue {
    border: 2px solid $blue_bayoux;
    padding: $base-margin*3;
  }

  &--border-grey {
    border: 2px solid $mid_gray;
    padding: $base-margin*3;
  }

  // Card types
  &--reduce-padding {
    padding: $base-margin*2 $base-margin*1.5;
    box-sizing: border-box;
  }

  &--notification {
    flex-wrap: nowrap;
    align-items: center;
    padding: $base-margin*1.5;
  }

  &--social {
    padding: $base-margin;
    margin-bottom: $base-margin*4.5;
    text-align: left;

    @include breakpoint($break_tablet) {
      margin-bottom: $base-margin*3;
    }

    @include breakpoint($break_mobile) {
      margin-bottom: $base-margin*1.5;
    }
  }

  // Card content styles
  &__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: $base-margin;

    p {
      margin-bottom: 0;
    }

    &__meta {
      p {
        span {
          margin-right: $base-margin*2;
        }
      }
    }

    &__icon {
      color: $silver;
      font-size: 2.25rem;
      line-height: 2.25rem;
    }
  }

  &__title {
    color: $san_juan;
    margin-bottom: $base-margin*2;
  }

  &__icon {
    width: 60px;
    font-size: 2.5rem;
    padding-right: $base-margin*2.5;
    box-sizing: border-box;
  }

  &__content {
    p {
      margin-bottom: $base-margin*0.5;

      &:last-child {
        margin-bottom: 0;
      }

      .card--social & {
        color: $mid_gray;
      }
    }
  }

  &__location {
    &__name {
      color: $san_juan;
      margin-bottom: $base-margin*0.25;
    }

    &__address {
      color: $san_juan;
      margin-bottom: $base-margin*0.25;
    }

    &__distance {
      color: $mid_gray;
    }
  }

  &__hours {
    &__times {
      margin-top: $base-margin*1.5;
      width: 100%;
      background-image: url('/assets/dist/img/clouds/cloud--blue-darker.svg');
      background-size: 100% 100%;
      background-position: center;
      background-repeat: no-repeat;
      color: $mid_gray;
      padding: $base-margin*2 $base-margin;
      box-sizing: border-box;
      text-align: center;

      table {
        width: 100%;
        
        tbody {
          tr {
            td {
              padding: $base-margin*0.25;
            }
          }
        }
      }
    }
  }

  &__services {
    margin-top: $base-margin*2;

    img {
      display: inline-block;
      margin-right: $base-margin*0.5;
    }
  }
}
