/* CARD */

.card {
  &--grey {
    background-color: $alabaster;
    border-radius: 10px;
  }

  &--mint {
    background-color: $iceberg;
    border-radius: 10px;
  }

  &--light-blue {
    background-color: $hawkes_blue;
  }

  &--green {
    background-color: $puerto_rico;
  }

  &--dark-green {
    background-color: $elm;
  }

  &--blue {
    background-color: $san_juan;
  }

  &--border-blue {
    border: 2px solid $blue_bayoux;
  }

  &--border-grey {
    border: 2px solid $mid_gray;
  }
}
