/* MEDIA */

.media {
	margin-left: $base-margin*2;
	margin-right: $base-margin*2;
	box-sizing: border-box;
	border-radius: 16px;
	overflow: hidden;

	&--grid {
		img {
			display: inline-block;
			max-width: 280px;
			height: auto;
			vertical-align: middle;
		}
	}
}

img {
  display: block;

  &.img-responsive {
    width: 100%;
    height: auto;
  }

  &.img-rounded {
    border-radius: 10px;
  }
}

.responsive-embed {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
}

.responsive-embed iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
