/* NAVIGATION */

.nav {
  display: inline-block;

  &__link {
    position: relative;
    display: inline-block;
    color: $mid_gray;
    font-size: 0.875rem;
    line-height: 1.625rem;
    margin-right: $base-margin*2.5;
    text-decoration: none;

    &:after {
      content: url('../img/nav-hover.svg');
      position: absolute;
      top: -13px;
      right: 0;
      bottom: 0;
      left: -24px;
      width: 97px;
      height: 53px;
      opacity: 0;
      transition: opacity 0.2s ease-out;
      will-change: opacity;
      z-index: 0;
    }

    &:hover {
      &:after {
        opacity: 1;
      }
    }

    span {
      position: relative;
      z-index: 1;
    }
  }

  &--primary {
    @include breakpoint($break_mobile) {
      float: none;
    }

    .nav__link {
      @include breakpoint($break_mobile) {
        display: block;
        margin-left: 0;
        margin-bottom: $base-margin;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &--footer {
    float: left;

    .nav__link {
      display: block;
      color: $white;
      margin: 0 0 $base-margin*0.5 0;

      &:last-child {
        margin: 0;
      }
    }
  }
}
