/* NAVIGATION */

.nav {
  display: inline-block;

  &__link {
    position: relative;
    display: inline-block;
    color: $mid_gray;
    font-size: 0.875rem;
    line-height: 1.625rem;
    margin-right: $base-margin*2.5;
    text-decoration: none;
  }

  &--primary {
    @include breakpoint($break_tablet) {
      float: none;
      display: block;
      width: 100%;
      margin-bottom: $base-margin*4;
    }

    .nav__link {
      &:after {
        content: url('../img/nav-hover.svg');
        position: absolute;
        top: -13px;
        right: 0;
        bottom: 0;
        left: -24px;
        width: 97px;
        height: 53px;
        opacity: 0;
        transition: opacity 0.2s ease-out;
        will-change: opacity;
        z-index: 0;
      }
  
      &:hover {
        &:after {
          opacity: 1;
        }
      }
  
      span {
        position: relative;
        z-index: 1;
      }

      @include breakpoint($break_tablet) {
        display: block;
        margin: 0;
        padding: $base-margin*2 $base-margin;
        text-align: left;
        font-weight: $font_bold;
        font-size: 1.1875rem;
        line-height: 1.4375rem;
        color: $san_juan;
        border-top: 4px solid $alabaster;

        &:last-child {
          margin-bottom: 0;
          border-bottom: 4px solid $alabaster;
        }

        &:after {
          content: '>';
          top: $base-margin*2;
          left: auto;
          width: auto;
          height: auto;
          opacity: 1;
        }
      }
    }
  }

  &--footer {
    float: left;

    .nav__link {
      display: block;
      color: $white;
      margin: 0 0 $base-margin*0.5 0;

      &:last-child {
        margin: 0;
      }
    }
  }
}
