/* Search */

.search {
    &__sort {
        margin-bottom: $base-margin;

        label,
        p {
            font-size: 1rem;
            line-height: 1rem;
            color: $mid_gray;
        
            @include breakpoint($break_mobile) {
                margin-bottom: $base-margin*0.5;
            }
        }

        p {
            margin-bottom: $base-margin;
        }

        .field {
            margin-right: 0;
            margin-bottom: 0;
        }

        label {
            display: inline-block;
            margin-right: $base-margin*0.5;

            @include breakpoint($break_tablet) {
                display: block;
                margin-bottom: $base-margin;
            }
        }

        select {
            max-width: 145px;
        }

        .btn {
            float: left;
            padding: $base-margin*0.25 $base-margin*0.5;

            &:last-child {
                margin-right: 0;
            }

            i {
                font-size: 0.8rem;
                line-height: 0.8rem;
                margin-left: $base-margin*0.25;
            }

            @include breakpoint($break_mobile) {
                font-size: 1rem;
                line-break: 1rem;
                margin-right: $base-margin*0.25;
            }
        }

        .title-card {
            padding: 0;
            background: transparent;
        }
    }

    &__filter {
        .field {
            margin-bottom: $base-margin !important;
        }

        .btn {
            margin-bottom: $base-margin;

            @include breakpoint($break_mobile) {
                margin-bottom: 0;
            }
        }

        .title-card__form {
            @include breakpoint($break_tablet) {
                position: fixed;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $white;
                padding: $base-margin*7.5 $base-margin*2 $base-margin*2;
                box-sizing: border-box;
                z-index: 998;
                transform: translateX(-100%);
                transition: 0.3s transform ease-out;
                will-change: transform;
                overflow-y: auto;

                &.active {
                    transform: translateX(0);
                }

                &__header {
                    .link {
                        margin-bottom: $base-margin;
                    }
                }
            }

            @include breakpoint($break_mobile) {
                padding: $base-margin*5 $base-margin*2 $base-margin*2;
            }
        }
    }
}