/* Search */

.search {
    &__sort {
        margin-bottom: $base-margin;

        .field {
            margin-right: 0;
        }

        label {
            display: inline-block;
            margin: $base-margin*0.5;
        }

        select {
            max-width: 180px;
        }
    }

    &__filter {
        @include breakpoint($break_mobile) {
            padding: 0 $base-margin;
        }
    }
}