/* SERVICE */

.service {
    background-color: $white;
    border-radius: 25px;
    overflow: hidden;
    transition: box-shadow 0.2s ease-out;
    will-change: box-shadow;

    &:hover {
        box-shadow: 0 2px 10px 0 $mine_shaft;
    }

    &--contact {
        &:hover {
            box-shadow: none;
        }
    }

    > div {
        background-color: $white;
        
        &:nth-child(odd) {
            background-color: $alabaster;
        }
    }

    &__image {
        position: relative;
        background-color: $white;
        min-height: 80px;
        box-sizing: border-box;

        img {
            width: 100%;
            height: auto;
        }
    }

    &__add {
        position: absolute;
        top: $base-margin;
        left: $base-margin;
        right: $base-margin;
        text-align: center;
    }

    &__location {
        display: table;
        width: 100%;
        background-color: $jungle_green !important;
        color: $white;
        font-size: 1.1875rem;
        line-height: 1.625rem;
        padding: $base-margin*0.75 $base-margin*2;
        box-sizing: border-box;
        word-wrap: break-word;

        &__name {
            display: table-cell;
            vertical-align: middle;
        }

        i {
            display: table-cell;
            vertical-align: middle;
            padding-right: $base-margin;
        }

        @include breakpoint($break_mobile) {
            padding: $base-margin*0.375 $base-margin*2;
        }
    }

    &__meta {
        background-color: $mercury !important;
        display: flex;
        align-items: center;
        background-color: $mercury;
        padding: 0px $base-margin*2;

        &__item {
            display: flex;
            align-items: center;
            color: $san_juan;
            padding: $base-margin*0.75 0;

            &:first-child {
                margin-right: $base-margin*2.5;
            }

            i {
                font-size: 1.1875rem;
                line-height: 1.5rem;
                margin-right: $base-margin;
            }

            @include breakpoint($break_mobile) {
                padding: $base-margin*0.5 0;
            }
        }
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $alabaster;
        color: $mid_gray;
        padding: $base-margin*1.5 $base-margin*2;
        box-sizing: border-box;

        @include breakpoint($break_mobile) {
            background-color: $iceberg;
            padding: $base-margin $base-margin*2;

            .service__name {
                display: inline-block;
                vertical-align: middle;
                margin-right: $base-margin;
                margin-bottom: 0;
            }

            .service__sub-title {
                display: inline-block !important;
                color: $san_juan;
            }
        }

        > span {
            &:first-child {
                padding-right: $base-margin;
            }
        }

        i {
            color: $san_juan;
            font-size: 1.5rem;
        }
    }

    &__details {
        background-color: $alabaster !important;
        color: $mid_gray;
        padding: $base-margin*1.5 $base-margin*2;
        box-sizing: border-box;

        &__actions {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &__close {
            
                margin-left: $base-margin;
            }
        }
    }

    &__name {
        color: $san_juan;
        margin-bottom: $base-margin*0.5;

        i {
            color: $puerto_rico;
            font-size: 1.1875rem;
            line-height: 1.1875rem;
            margin-right: $base-margin*0.5;
        }
    }

    &__contact {
        background-color: $white;
        color: $mid_gray;
        padding: $base-margin*1.5 $base-margin*2;
        box-sizing: border-box;
        word-break: break-all;

        a {
            color: $san_juan;
            font-size: 1.1875rem;
            line-height: 1.75rem;
            text-decoration: none;
            cursor: pointer;
        }

        > span {
            display: block;
            margin-bottom: $base-margin*0.25;
        }

        i {
            color: $puerto_rico;
            margin-right: $base-margin*0.75;
        }
    }

    &__filter {
        padding: $base-margin*1.5 $base-margin*2;
        box-sizing: border-box;
    }

    &__actions {
        background-color: $alabaster;
        padding: $base-margin*2 $base-margin*2 $base-margin $base-margin*2;
        box-sizing: border-box;

        .btn {
            display: inline-block;
            margin-bottom: $base-margin*0.5;

            &:first-child {
                margin-right: $base-margin*0.5;
            }
        }
    }

    &__social {
        background-color: $alabaster;
        font-size: 1.1875rem;
        line-height: 1.1875rem;
        padding: $base-margin*1.5 $base-margin*2;
        box-sizing: border-box;
        text-align: center;

        a {
            color: $san_juan;
            margin: 0 $base-margin*0.5;
        }
    }
}