/* Title Card */

.title-card {
    background-image: url('/assets/dist/img/title-card/bg--01.svg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding: $base-margin*4 $base-margin*3.5;
    box-sizing: border-box;

    @include breakpoint($break_mobile) {
        padding: $base-margin*2.5 $base-margin*2.5 $base-margin*2 $base-margin*2.5;
    }

    &--reduce-padding {
        padding: $base-margin*2.5 $base-margin*2;
    }

    &--variant-1 {
        background-image: url('/assets/dist/img/title-card/bg--02.svg');
    }

    &--variant-2 {
        background-image: url('/assets/dist/img/title-card/bg--03.svg');
    }

    &--variant-3 {
        background-image: url('/assets/dist/img/title-card/bg--04.svg');
    }

    &__title {
        color: $san_juan;
        // margin-bottom: 0;
    }

    &__image {
        img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
        }
    }

    &__description {
        margin-top: $base-margin*2.5;

        p {
            color: $mid_gray;
        }
    }

    &__share {
        display: inline-block;
        background-image: url('/assets/dist/img/title-card/bg--mint.svg');
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        color: $san_juan;
        padding: $base-margin*1.5;
        box-sizing: border-box;

        label {
            display: inline-block;
            margin-right: $base-margin*1.5;
            margin-bottom: 0;
        }

        a {
            color: $san_juan;
            margin-right: $base-margin*0.5;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__action {
        // margin-top: $base-margin*2.5;
        
        &__title {
            display: inline-block;
            color: $mid_gray;
            margin-right: $base-margin*1.5;
        }
    }
}