<header class="header">
  <div class="flex-container flex-container--align-center flex-container--justify">
    <div class="flex-col flex-col--6">

      <button type="button" class="nav-trigger mobile-show">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </button>

      <figure class="logo">
        <img src="/assets/dist/img/logo.png" alt="Connected Kingston" class="img-responsive"/>
      </figure>
    </div>

    <div class="flex-col flex-col--6">
      <nav class="nav nav--primary mobile-hide" role="navigation">
        <a href="#" class="nav__link" role="menuitem"><span>Search</span></a>
        <a href="#" class="nav__link" role="menuitem"><span>About</span></a>
        <a href="#" class="nav__link" role="menuitem"><span>Contact</span></a>
      </nav>

      <a href="#" class="btn btn--small btn--secondary btn--shortlist btn--icon-before"><i class="fa fa-star"></i> View shortlist</a>
    </div>
  </div>
</header>
