<header class="header">
  <div class="flex-container flex-container--align-center">
    <div class="flex-col flex-col--4">

      <button type="button" class="nav-trigger mobile-show">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </button>

      <figure class="logo">
        <img src="https://ayup.agency/assets/dist/img/global/logo.svg" alt="Ayup Development Boilerplate" class="img-responsive"/>
      </figure>
    </div>

    <div class="flex-col flex-col--8">
      <nav class="nav nav--primary mobile-hide" role="navigation">
        <a href="#" class="nav__link" role="menuitem">Nav Link</a>
        <a href="#" class="nav__link" role="menuitem">Nav Link</a>
        <a href="#" class="nav__link" role="menuitem">Nav Link</a>
        <a href="#" class="nav__link" role="menuitem">Nav Link</a>
      </nav>
      
    </div>
  </div>
</header>
