/*
 * -
 * PARTIALS/TYPOGRAPHY
 * -
 */


/* [1] */


/* [2] */
$font_primary: "museo-sans", sans-serif;

/* [3] */
$font_regular: 500;
$font_bold: 700;

/* [4] */
$base-font-size: 16px;
$rhythm-unit: "rem";
$default-rhythm-border-style: solid $white;

/* [6] */
html, button, input, select, textarea {
  color: $san_juan;
  font-family: $font_primary;
  font-weight: $font_regular;
  -webkit-text-stroke: 1px transparent;
  -webkit-font-smoothing: antialiased;
  line-height: 1.35rem;

}

/* [7] */
p {
  color: $san_juan;
  font-size: 1.1875rem;
  line-height: 1.4375;
  margin-bottom: $base-margin;

  &:last-child {
    margin-bottom: 0;
  }

  strong {
    font-weight: $font_bold;
  }
}

.sm-copy {
  font-size: 0.875rem;
  line-height: 1.25rem;

  strong {
    font-weight: $font_bold;
  }
}

.text-left {
  text-align: left;

  &--tablet {
    text-align: left !important;
  }

  &--mobile {
    text-align: left !important;
  }
}

.text-center {
  text-align: center;

  &--tablet {
    text-align: center !important;
  }

  &--mobile {
    text-align: center !important;
  }
}

.text-right {
  text-align: right;

  &--tablet {
    text-align: right !important;
  }

  &--mobile {
    text-align: right !important;
  }
}

/* [8] */
h1, h2, h3, h4 {
  color: $san_juan;
  font-weight: $font_bold;
  margin-bottom: $base-margin*2;

  &.white {
    color: $white;
  }

  i {
    color: $puerto_rico;
    margin-top: -4px;
    margin-left: $base-margin;
    vertical-align: middle;
  }
}

h1, .h1 {
  font-size: 3rem;
  line-height: 3.5625rem;
}

h2, .h2 {
  font-size: 2.25rem;
  line-height: 2.6875rem;
}

h3, .h3 {
  font-size: 1.6875rem;
  line-height: 2rem;
}

h4, .h4 {
  font-size: 1.5rem;
  line-height: 1.8125rem;
}

.color-blue {
  color: $san_juan;
}

.color-grey {
  color: $dusty_gray;
}

/* [9] */
a {
  color: $elm;
  outline: 0;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

/* [10] */
.elipsis-overflow {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* [11] */
strong, b {
  font-weight: $font_bold;
}

em, i {
  font-style: italic;
}

/* [12] */
hr {
  margin: $base-margin 0;
  height: 2px;
  color: $black;
}

/* [13] */
main {
  ul {
    list-style: none;

    li {
      position: relative;
      display: block;
      font-size: 1rem;
      line-height: 1.5rem;
      padding-left: $base-margin;
      margin-bottom: $base-margin*0.5;

      &:last-child {
        margin-bottom: 0;
      }

      &:after {
        content: '';
        background-color: $black;
        position: absolute;
        top: $base-margin*0.5;
        left: 0;
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 3px;
      }
    }
  }
}

/* [14] */
blockquote {
  max-width: 370px;
  color: $mid_gray;
  border-left: 4px solid $puerto_rico;
  margin: 0 0 $base-margin*1.5 $base-margin*1.5;
  padding-left: $base-margin*1.5;
  box-sizing: border-box;

  &:last-child {
    margin-bottom: 0;
  }

  p {
    margin-bottom: $base-margin*0.5;
  }
}