/* FOOTER */

.footer {
  position: relative;
  color: $white;
  background-color: $san_juan;
  padding: $base-margin*3.75 0;
  margin-top: $base-margin*10;

  p {
    
    color: $white;

    a {
      color: $white !important;
    }

  }

  &--service {
    margin-top: 0;

    > .flex-container {
      &:before,
      &:after {
        display: none !important;
      }
    }
  }

  &:before {
    content: '';
    background-image: url('/assets/dist/img/global/footer-border.svg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    height: 110px;
    position: absolute;
    top: -$base-margin*3.5;
    left: 0;

    @include breakpoint($break_mobile) {
      background-image: url('/assets/dist/img/global/footer-border--mobile.svg');
    }
  }

  > .flex-container {
    position: relative;

    &:before,
    &::after {
      position: absolute;
    }

    &:before {
      content: url('/assets/dist/img/trees/tree-green-2--large.svg');
      top: -$base-margin*11.5;
      left: $base-margin*4.5;

      @include breakpoint($break_mobile) {
        top: -$base-margin*8.5;
        left: $base-margin*2;  
      }
    }

    &:after {
      content: url('/assets/dist/img/trees/tree-blue--large.svg');
      top: -$base-margin*10.5;
      right: $base-margin*4.5;

      @include breakpoint($break_mobile) {
        right: $base-margin*2;  
      }
    }
  }

  &__sponsors {
    display: block;
    margin-top: $base-margin*2;
    text-align: center;

    img {
      display: inline-block;
      margin-right: $base-margin*2.25;
      vertical-align: middle;

      &:last-child {
        margin-right: 0;
      }

      @include breakpoint($break_mobile) {
        margin-right: $base-margin*1.625;
      }
    }
  }

  &__disclaimer {
    padding-right: $base-margin*3.5;


    @include breakpoint($break_tablet) {
      padding-right: 0;
      padding-bottom: $base-margin*3.5;
    }

    @include breakpoint($break_mobile) {
      padding-bottom: 0;
    }
  }
}
