/* SECTION */

.section {
  padding: $base-margin*4.5 0;

  // Section colours
  &--grey {
    background-color: $gray;
    margin-bottom: $base-margin*4.5;
  }

  &--light-blue {
    background-color: $hawkes_blue;
    margin-bottom: $base-margin*4.5;
  }

  // Padding
  &--no-padding {
    padding: 0 !important;
  }

  &--reduce-padding {
    padding: $base-margin*2.5 !important;
  }

  // Social media
  &--social-media {
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/assets/dist/img/global/social-media-strip.svg');
    padding: $base-margin*5.5 0 $base-margin*9 0;
    margin-bottom: $base-margin*4.5;
  }

  // Header shapes
  &--header {
    position: relative;
    background-size: 110% 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding: $base-margin*9 0 $base-margin*6 0;
    margin: $base-margin*2 0;
    margin-bottom: $base-margin*4.5;

    &--reduce-padding {
      padding: $base-margin*2.5 0;
    }

    &:before,
    &::after {
      position: absolute;
    }

    &:before {
      content: url('/assets/dist/img/trees/tree-blue--large.svg');
      top: $base-margin;
      right: 40%;
    }

    &:after {
      content: url('/assets/dist/img/trees/tree-green-3--large.svg');
      top: $base-margin*2;
      right: 37%;
    }

    &--1 {
      background-image: url('/assets/dist/img/header-shapes/shape--01.svg');

      &:before {
        top: $base-margin;
      }
  
      &:after {
        top: $base-margin*2;
      }
    }

    &--2 {
      background-image: url('/assets/dist/img/header-shapes/shape--02.svg');
    }

    &--3 {
      background-image: url('/assets/dist/img/header-shapes/shape--03.svg');

      &:before {
        top: -$base-margin*2;
      }
  
      &:after {
        top: -$base-margin;
      }
    }

    &--4 {
      background-image: url('/assets/dist/img/header-shapes/shape--04.svg');
    }

    &--5 {
      background-image: url('/assets/dist/img/header-shapes/shape--05.svg');
    }

    &--6 {
      background-image: url('/assets/dist/img/header-shapes/shape--06.svg');
    }

    &--7 {
      background-image: url('/assets/dist/img/header-shapes/shape--07.svg');
    }
  }

  .flex-container {
    margin-bottom: $base-margin*2;

    &:last-of-type {
      margin-bottom: 0;
    }
    
    &--no-margin {
      margin-bottom: 0;
    }
  }

  &__component {
    margin-bottom: $base-margin*2.75;

    &:last-child {
      margin-bottom: 0;
    }
  }
}