<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <link rel="canonical" href="{{ siteUrl }}" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="format-detection" content="telephone=no">

	<!-- Site styles -->
  <link href="/assets/dist/main.css?201612132" media="screen, projection" rel="stylesheet" />
</head>

<body>
	{{ include('_snippets/header') }}

	<main id="content" role="main" {% if entry is defined %}class="page page--{{entry.type}}"{% endif %}>
		{% block content %}{% endblock %}
	</main>

	{{ include('_snippets/footer') }}
	{{ include('_components/modal') }}
	

	<!-- jQuery -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<!-- VENDOR FILES -->
	<link href="/assets/dist/vendor.css?2016111859" media="screen, projection" rel="stylesheet" />
	<script src="/assets/dist/vendor.min.js?201612132"></script>

	<!-- SITE SCRIPTS -->
	<script src="/assets/dist/app.min.js?201612132"></script>

	<!-- ~~~~~~~~~~~~ BUILT BY ~~~~~~~~~~~~
		 AAAAAAA YYY  YYY UU    UU PPPPPPP
		AA     AA YY  YY  UU    UU PP   PP
		AAAAAAAAA  YYYY   UU    UU PPPPPPP
		AA     AA   YY    UU    UU PP
		AA     AA   YY     UUUUUU  PP
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
</body>
</html>
