<form class="form" action="" method="post">
  <div class="field field--select">
    <select class="select" style="width: 100%">
      <option>Option</option>
      <option>Option</option>
      <option>Option</option>
      <option>Option</option>
      <option>Option</option>
    </select>
  </div>

  <div class="field">
    <label for="input_name">Label text here</label>
    <input type="text" class="input input--text" name="input_name" placeholder="Placeholder text here"/>
  </div>

  <div class="field">
    <label for="input_name">Label text here</label>
    <textarea class="input input--textarea" name="input_name" placeholder="Placeholder text here"></textarea>
  </div>

  <div class="field field--radio">
    <div class="radio">
      <input type="radio" id="radio1" class="input input--radio" name="input_radio"/>
      <label for="radio1"><span><span></span></span> Label text here</label>
    </div>

    <div class="radio">
      <input type="radio" id="radio2" class="input input--radio" name="input_radio"/>
      <label for="radio2"><span><span></span></span> Label text here</label>
    </div>
  </div>

  <div class="field field--checkbox">
    <div class="checkbox">
      <input type="checkbox" id="checkbox1" class="input input--checkbox" name="input_checkbox"/>
      <label for="checkbox1"><span><span></span></span> Label text here</label>
    </div>

    <div class="checkbox">
      <input type="checkbox" id="checkbox2" class="input input--checkbox" name="input_checkbox"/>
      <label for="checkbox2"><span><span></span></span> Label text here</label>
    </div>
  </div>

  <div class="actions">
    <button type="submit" name="submit"><span>Submit</span></button>
  </div>
</form>
