<div class="card card--grey card--location">
  <div class="card__location flex-col flex-col--6">
    <p class="card__location__name"><strong>New Malden Library</strong></p>
    <p class="card__location__address">
      Kingston Rd<br>
      New Malden<br>
      Surrey<br>
      KT3 3LY
    </p>
    <p class="card__location__distance sm-copy">0.3 miles away</p>
  </div>

  <div class="card__hours flex-col flex-col--6">
    <div class="card__hours__times">
      <table>
        <tbody>
          <tr>
            <td class="sm-copy">Wednesday</td>
          </tr>
          <tr>
            <td>10:30am-12pm</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card__services flex-col flex-col--12">
    <img src="/assets/dist/img/access-icons/level-access-automatic-doors.png" alt="">
    <img src="/assets/dist/img/access-icons/access-by-ramps-slopes-manual-doors.png" alt="">
    <img src="/assets/dist/img/access-icons/mobility-impaired-walker.png" alt="">
  </div>
</div>

<div class="card card--grey card--location">
  <div class="card__location flex-col flex-col--6">
    <p class="card__location__name"><strong>New Malden Library</strong></p>
    <p class="card__location__address">
      Kingston Rd<br>
      New Malden<br>
      Surrey<br>
      KT3 3LY
    </p>
    <p class="card__location__distance sm-copy">0.3 miles away</p>
  </div>

  <div class="card__hours flex-col flex-col--6">
    <div class="card__hours__times card__hours__times--two-column">
      <table>
        <tbody>
          <tr>
            <td class="sm-copy">Wednesday</td>
            <td>10:30am-12pm</td>
          </tr>
          <tr>
            <td class="sm-copy">Thursday</td>
            <td>10:30am-12pm</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card__services flex-col flex-col--12">
    <img src="/assets/dist/img/access-icons/level-access-automatic-doors.png" alt="">
    <img src="/assets/dist/img/access-icons/access-by-ramps-slopes-manual-doors.png" alt="">
    <img src="/assets/dist/img/access-icons/mobility-impaired-walker.png" alt="">
  </div>
</div>  