<div class="card">
  <div class="card__image flex-col flex-col--6" style="background-image: url('https://unsplash.it/600/400')"></div>

  <div class="card__content flex-col flex-col--6">
    <h2 class="card__title">This is a card title</h2>
    <div class="card__description">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquet dictum dolor scelerisque tempor. Vivamus fringilla ex in felis tempor, id semper lacus fermentum. Etiam in aliquet ligula.</p>
      <p>Donec viverra mauris eu lorem imperdiet, ullamcorper fermentum ligula lobortis. Mauris quis nulla a lacus facilisis vulputate. Curabitur imperdiet quis neque eu gravida. Sed id massa lobortis, pretium lorem ac, lacinia magna.</p>
    </div>
    <a href="#" class="card__cta btn btn--primary">Click Me</a>
  </div>
</div>
