<section class="hero hero--half" role="banner">
  <div class="flex-container flex-container--no-padding flex-container--align-center">
    <div class="hero__image flex-col flex-col--6 flex-order--2 flex-order--mobile--1" style="background-image:url('https://unsplash.it/1200/640')"></div>
    <div class="hero__content flex-col flex-col--6 flex-order--1 flex-order--mobile--2">
      <h1 class="hero__title">Welcome to Ayup's Development Boilerplate.</h1>
      <p class="hero__description">Built using CSS Flexbox and managed using Webpack.</p>
      <a href="#" class="hero__cta btn btn--secondary modal-trigger" data-modal="main" role="button">Click Me!</a>
    </div>
  </div>
</section>
