<div class="modal" data-modal="main">
  <div class="valign">
    <div class="modal__wrapper">
      <a href="#" class="modal__close">Close</a>
      <div class="modal__header">
        <h2 class="modal__title">This is a modal title</h2>
        <p class="lg-copy modal__description">And a short description about what is in this modal.</p>
      </div>
      <div class="modal__content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sagittis imperdiet odio ac tincidunt.</p>
        <p>Duis quis malesuada enim, a euismod orci. In at erat tincidunt purus facilisis fermentum sed id velit. Sed gravida laoreet erat vitae venenatis. Aenean at magna ut massa ornare tempus ac sed purus. Sed vestibulum magna ut mi placerat tristique. Maecenas vitae dignissim nisl, in fringilla tellus. Pellentesque tellus libero, aliquet sit amet condimentum et, volutpat quis purus.</p>
      </div>
      <a href="#" class="modal__cta btn btn--secondary" role="button"><span>Click me to find out more</span></a>
    </div>
  </div>
</div>
