<div class="sidebar">
    <div class="sidebar__row">
        <p><strong>Contact</strong></p>
    </div>
    
    <div class="sidebar__row">
        <p class="sidebar__row__header sm-copy"><i class="fa fa-user"></i> Who</p>
        <p>Saskia</p>
    </div>

    <div class="sidebar__row">
        <p class="sidebar__row__header sm-copy"><i class="fa fa-phone"></i> Telephone</p>
        <p>020 8255 3939</p>
    </div>

    <div class="sidebar__row">
        <p class="sidebar__row__header sm-copy"><i class="fa fa-phone"></i> Telephone</p>
        <p><a href="mailto:saskia@mindinkingston.org.uk">saskia@mindinkingston.org.uk</a></p>
    </div>

    <div class="sidebar__row sidebar__row--social">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
    </div>
</div>