/* BASE FORMS */

form,
.form {
  padding: $base-margin*3 0;

  // GENERAL FIELD WRAPPER
  .field {
    position: relative;
    display: table;
    margin-bottom: $base-margin*2.5;
    overflow: hidden;

    @include breakpoint($break_mobile) {
      width: 100%;
    }

    &__description {
      color: $mid_gray;
    }

    // VALIDATED STATE
    &.validated,
    &.error {
      position: relative;

      &:after {
        content: '\e804';
        font-family: "fontello";
        position: absolute;
        top: $base-margin*1.125;
        left: 268px;
        font-size: 1.25rem;
        line-height: 1.25rem;

        @include breakpoint($break_mobile) {
          left: auto;
          right: $base-margin;
        }
      }
    }

    &.validated {
      input {
        border-color: $gray;
      }

      &:after {
        content: '\e804';
        color: $gray;
      }
    }

    // ERROR STATE
    &.error {
      input{
        background-color: $red;
        border-color: $red;
      }

      &:after {
        content: '\e80a';
        color: $red;
      }
    }

    .error-message {
      display: table-cell;
      width: 300px;
      padding-left: $base-margin;
      color: $red;
      font-size: 0.9375rem;
      line-height: 1.4375rem;
      vertical-align: middle;

      a {
        color: $black;
      }

      @include breakpoint($break_mobile) {
        display: block;
        width: 100%;
        padding-left: 0;
        margin-bottom: $base-margin;
      }
    }
  }

  // LABEL STYLE
  label {
    display: block;
    color: $san_juan;
    font-size: 1.1875rem;
    line-height: 1.4375rem;
    margin-bottom: $base-margin;
  }
}
