/* BASE FORMS */

form,
.form {
  padding: 0;

  &--search {
    max-width: 520px;
    
    .field {
      margin-bottom: $base-margin !important;
    }
  }

  &--filter {
    .field {
      margin-bottom: $base-margin;
    }
  }

  &--center {
    margin: 0 auto;
  }

  &__actions {
    margin-top: $base-margin*1.5;

    &--center {
      text-align: center;
    }
  }
}

// LABEL STYLE
label {
  display: block;
  color: $mid_gray;
  font-size: 0.875rem;
  line-height: 1.625rem;
  margin-right: $base-margin;
  margin-bottom: $base-margin*0.5;
}

// GENERAL FIELD WRAPPER
.field {
  position: relative;
  margin-right: $base-margin*1.5;
  margin-bottom: $base-margin*4.5;

  @include breakpoint($break_tablet) {
    margin-bottom: $base-margin*3;
  }

  @include breakpoint($break_mobile) {
    margin-right: 0;
    margin-bottom: $base-margin*2;
  }

  .optional {
    font-style: italic;
    font-size: 0.6rem;
  }

  &--no-margin {
    margin-bottom: 0 !important;
  }

  // Reduce margin bottom for homepage search form
  .form--search & {
    margin-bottom: $base-margin;
  }

  // If it has a description reduce label margin bottom
  &--has-description {
    label {
      margin-bottom: $base-margin*0.5;
    }
  }

  @include breakpoint($break_mobile) {
    width: 100%;
  }

  &--with-button {
    .btn {
      margin-left: $base-margin*1.375;
      vertical-align: middle;

      @include breakpoint($break_mobile) {
        margin-left: $base-margin*0.625;
      }
    }
  }

  &__buttons {
    .btn {
      margin-right: $base-margin*0.75;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__description {
    color: $mid_gray;
    font-size: 0.875rem;
    line-height: 1.625rem;
    margin-right: $base-margin;
    margin-bottom: $base-margin*0.5;
  }

  // VALIDATED STATE
  &.validated,
  &.error {
    position: relative;

    &:after {
      content: '\e804';
      font-family: "fontello";
      position: absolute;
      top: $base-margin*1.125;
      left: 268px;
      font-size: 1.25rem;
      line-height: 1.25rem;

      @include breakpoint($break_mobile) {
        left: auto;
        right: $base-margin;
      }
    }
  }

  &.validated {
    input {
      border-color: $gray;
    }

    &:after {
      content: '\e804';
      color: $gray;
    }
  }

  // ERROR STATE
  &.error {
    input{
      background-color: $red;
      border-color: $red;
    }

    &:after {
      content: '\e80a';
      color: $red;
    }
  }

  .error-message {
    display: table-cell;
    width: 300px;
    padding-left: $base-margin;
    color: $red;
    font-size: 0.9375rem;
    line-height: 1.4375rem;
    vertical-align: middle;

    a {
      color: $black;
    }

    @include breakpoint($break_mobile) {
      display: block;
      width: 100%;
      padding-left: 0;
      margin-bottom: $base-margin;
    }
  }
}