/* INPUT */

input, textarea, .input {
  background: $white;
  color: $san_juan_75;
  font-size: 1.1875rem;
  line-height: 1.4375rem;
  border: 2px solid $san_juan;
  border-radius: 0px;
  padding: $base-margin*0.75 $base-margin;
  box-sizing: border-box;
  vertical-align: middle;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    color: $san_juan;
    outline: 0;
    -webkit-text-fill-color: $san_juan;
  }

  &:disabled,
  &.disabled {
    border-color: $san_juan_25;
    cursor: not-allowed;
  }
}

textarea {
  height: 300px;
}
