/* Select */

select,
.select {
  width: 300px;
  padding: $base-margin*0.5 $base-margin*0.75;
  border: 2px solid $mid_gray;
  box-shadow: none;
  font-size: 1.1875rem;
  line-height: 1.1875rem;
  background: transparent;
  background-image: url('../img/global/select-icon.svg');
  background-repeat: no-repeat;
  background-position: calc(100% - 8px) 8px;
  color: $san_juan_50;
  -webkit-appearance: none;

  @include breakpoint($break_mobile) {
    font-size: 0.875rem;
    line-height: 0.875rem;
  }

  &:focus {
    outline: 0;
  }
}