/* TOGGLE */

// RADIO
.radio {
  display: inline-block;
  margin-right: $base-margin*3;

  &:last-child {
    margin-right: 0;
  }

  &--stack {
    display: block;
    margin-right: 0;
    margin-bottom: $base-margin*2;
  }

  &__input {
    margin-top: $base-margin*0.5;
    margin-left: $base-margin*3.5;
    padding-left: $base-margin*1.5;
    border-left: 4px solid $puerto_rico;
  }

  input[type="radio"] {
    display:none;
  }

  input[type="radio"] + label {
    cursor: pointer;
    margin-bottom: 0;
  }

  input[type="radio"]:checked + label {
    color: $san_juan;
  }

  input[type="radio"]:checked + .radio__input {
    display: block;
  }

  input[type="radio"] + label > span {
    display:inline-block;
    width: 39px;
    height: 39px;
    margin: 0 $base-margin 0 0;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%;
    background-color: transparent;
    border: 2px solid $san_juan;
    padding: 2px;
    box-sizing: border-box;
  }

  input[type="radio"] + label > span > span {
    display: block;
    width: 27px;
    height: 27px;
    margin: 0;
    -moz-border-radius:  50%;
    border-radius:  50%;
    border: none;
    background-color: transparent;
  }

  input[type="radio"]:checked + label > span > span {
    border: 4px solid $white;
    background-color: $san_juan;
  }

  input[type="radio"]:checked + label > span {
    background-color: $san_juan;
    border: 4px solid $puerto_rico;    
  }
}

// CHECKBOX
.checkbox {
  input[type="checkbox"] {
    display:none;
  }

  input[type="checkbox"] + label {
    cursor: pointer;
    margin-bottom: 0;
  }

  input[type="checkbox"]:checked + label {
    display: inline-block;
    color: $san_juan;
    vertical-align: middle;
  }

  input[type="checkbox"] + label > span {
    display:inline-block;
    width:35px;
    height:35px;
    margin: 0 $base-line-height*0.5 0 0;
    vertical-align:middle;
    cursor:pointer;
    background-color: transparent;
    border: 2px solid $san_juan;
  }

  input[type="checkbox"] + label > span > span:before {
    display: none;
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    content: "\f00c";
    font-size: 1.4rem;
    color: $san_juan;
    margin: 3px 5px;
  }

  input[type="checkbox"] + label span:before,
  input[type="checkbox"] + label:hover > span:before,
  input[type="checkbox"]:checked + label span:before {
    display: block;
  }
}
